@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html, body {
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Alata', sans-serif;
}

.grid-place-center {
	display: grid;
	place-items: center;
	height: 100vh;
}

.text-red {
	color: #ec111a;
}

.btn-red {
	background-color: #ec111a;
	color: #fff;
}

.bg-red {
	background-color: #ec111a;
}

.btn-red:hover {
	background-color: #dc3545;
}

.bg-purple {
	background-color: #800080;
}

.text-purple {
	background-color: #800080;
}

.bg-purple-light {
	background-color: #6f42c1;
}

.form-control:focus {
	box-shadow: none;
}

.loading-component {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}

.dark-overlay {
	/*background-color: rgba(0, 0, 0, 0.5);*/
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.nav-link.active {
	background-color: #f8f9fa;
	color: #ec111a !important;
}

.bg-gradient-light-top {
	background: rgb(210,210,210);
	background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 50%);
}

.bg-gradient-light-bottom {
	background: rgb(210,210,210);
	background: linear-gradient(180deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 100%);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffcdc;
}